<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar"
        aria-expanded="false"
        aria-controls="navbar"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Resturant Search</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input
            #input
            (keyup)="onSearch(input.value)"
            type="text"
            placeholder="Search by city..."
            class="form-control"
          />
        </div>
      </form>
    </div>
    <!--/.navbar-collapse -->
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <h1>{{ title }}</h1>
  </div>
</div>
<div class="container">
  <ng-template [ngIf]="selectedRestaurant.id">
    <ol class="breadcrumb">
      <li><a (click)="go('home')" alt="Home">Home</a></li>
      <li class="active">{{ selectedRestaurant.name }}</li>
    </ol>

    <div class="view-profile">
      <div class="media">
        <div class="media-left">
          <img
            width="100"
            height="100"
            class="media-object"
            [src]="selectedRestaurant.image_url"
            alt="{{ selectedRestaurant.name }}"
          />
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ selectedRestaurant.name }}</h4>
          <p>{{ selectedRestaurant.address }}</p>
          <p>
            {{ selectedRestaurant.city }}, {{ selectedRestaurant.postal_code }}
          </p>
          <p>{{ selectedRestaurant.country }}</p>
          <a
            [href]="selectedRestaurant.mobile_reserve_url"
            target="_blank"
            alt="Reserve Table"
            class="btn btn-sm btn-primary"
            >Reserve Table</a
          >
        </div>
      </div>
    </div>
    <hr />
  </ng-template>

  <!-- Example row of columns -->
  <div class="row display-flex">
    <ng-template [ngIf]="!selectedRestaurant.id">
      <div *ngFor="let restaurant of restaurants" class="col-xs-6 col-md-2">
        <div class="thumbnail">
          <img
            [src]="restaurant.image_url"
            class="img-responsive"
            alt="{{ restaurant.name }}"
          />
          <div class="caption">
            <h4>{{ restaurant.name }}</h4>
            <p>
              <button
                (click)="viewRestaurant(restaurant)"
                class="btn btn-primary"
                role="button"
              >
                More info
              </button>
            </p>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <hr />

  <footer>
    <p>&copy; 2019 Angular Test</p>
  </footer>
</div>
<!-- /container -->
