/* You can add global styles to this file, and also import other style files */
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*="col-"] {
  display: flex;
  flex-direction: column;
}

/* not requied only for demo * */
.row [class*="col-"] {
  background-colo: #cceeee;
  background-clip: content-box;
}
.panel {
  height: 100%;
}
.img-thumbnail,
.thumbnail {
  min-height: 310px;
}
